# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
server
**/*.log

# Dependency directories
vendor/

#Devops
**/Jenkinsfile
**/Dockerfile
**/*compose.yaml
**/.dockerignore

# Idea
.vscode/
.idea/
